<div class="zone-footer">
    <div class="zone-footer-ctn">
        <div class="zone-footer-ctn-left">
            <div class="zone-footer-ctn-left-left">
                <div class="logo-box">
                    <img src="@Logo" alt="logo" class="logo-img" />
                    <span class="logo-text">CMS</span>
                </div>

                <a href="/protocal/agreement" target="_blank">《CMS网用户协议》</a>
                <a href="/protocal/privacy" target="_blank" style="margin-top: 4px">《CMS网隐私政策》</a>
                <p style="margin-top: 58px">© 2025 本系统仅供学习与教学使用</p>
            </div>

            <div class="zone-footer-ctn-left-right">
                <a target="_blank"
                   href="https://beian.miit.gov.cn/#/Integrated/index"
                   rel="noopener noreferrer nofollow">
                    京ICP备18018851号-8
                </a>
                <a target="_blank"
                   href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802030409"
                   rel="noopener noreferrer nofollow"
                   style="margin-top: 2px">
                    <span class="police"></span> 京公网安备 11010802030409号
                </a>
                <a target="_blank"
                   href="https://fanqienovel.com/writer/zone/licence/icp"
                   rel="noopener noreferrer nofollow"
                   style="margin-top: 2px">
                    京ICP证 京B2-20200085号
                </a>

                <div class="zone-footer-ctn-left-licence" style="margin-top: 2px">
                    <a target="_blank"
                       href="https://fanqienovel.com/writer/zone/licence/business"
                       rel="noopener noreferrer nofollow">
                        营业执照
                    </a>
                    <a target="_blank"
                       href="https://fanqienovel.com/writer/zone/licence/publication"
                       rel="noopener noreferrer nofollow">
                        出版物经营许可证
                    </a>
                    <a target="_blank"
                       href="https://fanqienovel.com/writer/zone/licence/radioTv"
                       rel="noopener noreferrer nofollow">
                        广播电视节目制作经营许可证
                    </a>
                </div>

                <div class="zone-footer-ctn-left-right-msg">
                    <p>
                        广告投放：
                        <a href="https://www.oceanengine.com/resource/fanqie?source=fanqiepc"
                           rel="noopener noreferrer nofollow"
                           target="_blank">
                            www.oceanengine.com
                        </a>
                    </p>
                    <p>
                        不良信息举报：
                        <span class="zone-footer-ctn-left-right-msg-report">
                            fanqiejubao@bytedance.com
                        </span>
                    </p>
                    <p>意见建议邮箱：original_articles@bytedance.com</p>
                    <p>版权咨询：2947820142@qq.com</p>
                    <a href="/friend_links" target="_blank" rel="noopener noreferrer">友情链接</a>
                </div>
            </div>
        </div>

        <div class="zone-footer-ctn-right">
            <div class="zone-footer-ctn-right-wechat">
                <img src="https://p6-novel.byteimg.com/origin/novel-static/cc64631d97326693e96de67c759a608d"
                     alt="wechat-qrcode" />
                <div class="zone-footer-ctn-right-wechat-desc">
                    打开微信扫码关注微信公众号
                </div>
            </div>
            <div class="zone-footer-ctn-right-tiktok">
                <img src="https://p3-novel.byteimg.com/origin/novel-static/9d78ec9edddfacb4fb2013dc36db9818"
                     alt="tiktok-qrcode" />
                <div class="zone-footer-ctn-right-tiktok-desc">
                    打开抖音扫码关注官方帐号
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    // 和 Header 一样，静态资源直接用绝对路径
    private string Logo => "/assets/icons/logo/icons8-firebase-undefined-32.png";
}
