/* logo组合样式 */
.logo-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo-img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.logo-text {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.zone-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 348px;
    background: #f1f1f1;
}

.zone-footer-ctn {
    display: flex;
    width: 1240px;
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
}

.zone-footer-ctn-left {
    display: flex;
    width: 850px;
    margin-top: 50px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
}

.zone-footer-ctn-left-licence a:not(:last-child) {
    margin-right: 8px;
}

.zone-footer-ctn-left a,
.zone-footer-ctn-left a:link,
.zone-footer-ctn-left a:visited {
    max-width: 400px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

    .zone-footer-ctn-left a:hover {
        color: #ff5f00;
    }

.zone-footer-ctn-left-left {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
}

.zone-footer-ctn-left-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: -1px;
    margin-left: 118px;
}

    .zone-footer-ctn-left-right .police {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-top: -4px;
        margin-right: 1px;
        margin-left: 3px;
        line-height: 16px;
        vertical-align: middle;
        background-size: cover;
        background-image: url('/assets/images/layout/footer/police.png');
    }

.zone-footer-ctn-left-right-msg {
    margin-top: 52px;
}

    .zone-footer-ctn-left-right-msg p {
        margin-top: 2px;
        margin-bottom: 0;
        line-height: 22px;
    }

.zone-footer-ctn-left-right-msg-report:hover {
    color: #ff5f00;
    cursor: pointer;
}

.zone-footer-ctn-right {
    display: flex;
    flex: 1;
    margin-top: 196px;
    margin-left: 93px;
}

.zone-footer-ctn-right-tiktok,
.zone-footer-ctn-right-wechat {
    position: relative;
}

    .zone-footer-ctn-right-tiktok img,
    .zone-footer-ctn-right-wechat img {
        width: 78px;
    }

.zone-footer-ctn-right-tiktok-desc,
.zone-footer-ctn-right-wechat-desc {
    position: absolute;
    top: 82px;
    left: -40px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
    white-space: nowrap;
}

.zone-footer-ctn-right-wechat-desc {
    left: -35px;
}

.zone-footer-ctn-right-tiktok {
    margin-left: 104px;
}

.zone-footer-ctn-right-tiktok-desc {
    left: -35px;
}
