.index_banner {
    width: 100%;
}

    .index_banner img {
        width: 100%;
        vertical-align: middle;
        cursor: pointer;
    }

    .index_banner .swiper-pagination {
        bottom: 18px;
    }

    .index_banner .swiper-pagination-bullet {
        width: 24px;
        cursor: pointer;
        height: 2px;
        opacity: 1;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 0;
    }

        .index_banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: #fa6725;
        }
